<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Contact me</title>
</head>
<style>
body {
  margin: 0;
  height: 100%;
}
.container-fluid {
  background-color: white;
}
.topnav {
  background-color: white;
}
.topnav a {
  float: right;
  display: block;
  color: #BC8F8F;
  text-align: center;
  text-decoration: none;
  padding: 1vw 2vw;
  font-family: Century Gothic;
  font-size: auto;
}
.topnav a:hover {
  background-color: #ECDCEF;
  color: #BC8F8F;
}
.topnav a:active {
  background-color: white;
}
.active {
  background-color: white;
  color: #BC8F8F;
}
.rectangle1 {
  position: relative;
  height: 0.5vw;
  width: 60vw;
  float: left;
  background-color: #BBBBBB;
}
.left-col {
  font-family: Century Gothic;
  background-color: white;
  padding: 0;
}
.rectangle2 {
  position: relative;
  height: 90vh;
  width: 0.5vw;
  float: right;
  background-color: #C39B87;
}
.profile-image {
  border-radius: 50%;
  margin: 4vh 0vw;
}
.responsive {
  width: 60%;
  height: auto;
}
.my-name {
  font-family: Bell MT;
  color: #D2B48C;
  margin: 0.5vh 0vw;
  font-size: auto;
}
.string {
  font-family: Century Gothic;
  color: #A0522D;
  margin: 2vh 0vw;
  font-size: auto;
}
.title-page {
  color: #BC8F8F;
  margin: 1vh 0vw 0vh 0vw;
  background-color: PINK;
  font-size: auto;
  font-family: Century Gothic;
}
.field {
  font-family: Maiandra GD;
  color: #D2B48C;
  margin: 1vh 0vw 0vh 0vw;
}
.btn {
  background-color: #BBBBBB;
  border-color: #BBBBBB;
  color: white;
  height: auto;
  width: auto;
}
.table thead th {
  vertical-align: inherit;
}
.right-col {
  font-family: Century Gothic;
  padding: 0;
}

</style>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col"></div>
    <div class="topnav" id="myTopnav">
      <a href="/register"><strong>REGISTER</strong></a>
      <a href="/activities"><strong>ACTIVITIES</strong></a>
      <a href="/profile"><strong>PROFILE</strong></a>
      <a href="/"><strong>HOME</strong></a>
    </div>
  </div>
  <div class="row">
    <div class="col left-col">
      <div class="rectangle2"></div>
      <center><img class="profile-image responsive"
           src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/41976605_2480605975299273_7493085977091506176_n.jpg?_nc_cat=111&oh=c42209f6d9c2cfaf52022a6968611a8f&oe=5C1C9FF1"
           alt="profilepic"></center>
      </img>
      <h4 class="my-name">
        <center><strong>NUR NISRINA<br>NINGRUM</strong></center></h4>
      <h6 class="string">
        <center>A Computer Science student at<br>University of Indonesia <br>+6298601438752</center></h6>
      <h6 class="string">
        <center>Jalan Kayumanis 1 No.41<br>RT/RW : 1/14<br>Baktijaya, Sukmajaya, Depok<br>16418</center></h6>
    </div>
    <div class="col">
      <section name="form">
        <h4 class="title-page">Add new activities</h4>
        <form class="string" id="form" method="post" action="{% url 'activities' %}">
          {% csrf_token %}
          {{ message_form }}
          <br>
          <button type="submit" class="btn btn-default">Add activity</button>
        </form>
      </section>
    </div>
    <div class="col">
      <h4 class="title-page">Table of activities</h4>
      <table class="table field" src="views.activities" align="center">
        <thead>
          <th>Activity</th>
          <th>Day</th>
          <th>Date, Time</th>
          <th>Location</th>
          <th>Category</th>
        </thead>
        <tbody>
          {% for i in message %}
            {% if i.date == "" %}
            <tr class="warning"> {% else %} <tr class="success">
                {% endif %}
                <td>{{i.activity}}</td>
                <td>{{i.day}}</td>
                <td>{{i.date}}</td>
                <td>{{i.location}}</td>
                <td>{{i.category}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      <br>
      <form action="{% url 'delete' %}" method="post" id="delete_form">
      {% csrf_token %}
      <button type="submit" form="delete_form" value="delete" class="btn btn-default string">Delete all</button>
      </form>
    </div>
  </div>



</body>
<html>
